<!DOCTYPE html>
<html>
<head>
	<title>The Winning Page</title>
	<link rel="stylesheet" href="css/basic.css">
	<link rel="stylesheet" href="css/winlose.css">
</head>
<body>
    <form action="madlib" method="POST">
        <label for="adj1">Adjective</label><br>
        <input type="text" id="adj1" name="adj1" value="red"><br>
        <label for="noun1">Noun</label><br>
        <input type="text" id="noun1" name="noun1" value="monkey"><br>
        <label for="noun2">Noun</label><br>
        <input type="text" id="noun2" name="noun2" value="peanut"><br>
        <input type="checkbox" id="senior" name="senior" value="I am also a Senior!">
        <label for="vehicle3"> I'm a senior</label><br>
        <label for="animals">I want to see a picture of a:</label>
        <select name="animals" id="animals">
          <option value="img/monke.jpeg">Monkey</option>
          <option value="img/zebra.jpeg">Zebra</option>
          <option value="img/horse.jpeg">Horse</option>
        </select> <br>
        <button type="submit" value="Submit">Submit</button>
    </form>
    Today I went to the zoo. I saw a(n) {{adj1}} {{noun1}} jumping up and down. I got some {{noun2}} and ate them. {{senior}}<br>
    <img src = {{animals}}>
</body>
</html>


<!--
Create a default landing "Home Page" for your site. You can be as creative as you wish with this page as long as
- there is a link to the Madlib form page from the home page
Create a madlib form page.
- there must be a form
- There must be at least 5 input fields.
- One of the fields must be a element that will determine which picture should be rendered
 - there should be three types of input fields (checkbox/text/select etc)
Create a madlib result page where
 - there is an image with content determined by the form
-->